.bundledFiles
.bsp/
target/
extensions/
/*.jar
/*.zip

# the output for the geojson exporting tests found in examples/geojson/geojson_export_test.nlogo -James Hovet 2/2/21
examples/geojson/out.geojson
